body{font-family:Arial;background:#f3f4f6}
.box{
  width:100%;max-width:350px;margin:70px auto;
  background:#fff;padding:20px;border-radius:10px
}
input,select,button{
  width:100%;padding:12px;margin:10px 0;
  border:1px solid #ccc;border-radius:6px
}
button{background:green;color:white;border:none}