body{font-family:Arial;background:#f1f5f9}
.box{
  max-width:500px;margin:40px auto;background:#fff;
  padding:20px;border-radius:10px
}
.card{
  background:#f9fafb;margin:10px 0;padding:12px;border-radius:6px
}